<a href="https://colab.research.google.com/github/Vibenshus-Gymnasium-Pro/assignment-1-Jotaro3TP/blob/main/woRLD_DATA_ORG.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns

path = "elec.csv"
df = pd.read_csv(path)
df.info()
df.head(20)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271 entries, 0 to 270
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series Name    268 non-null    object
 1   Series Code    266 non-null    object
 2   Country Name   266 non-null    object
 3   Country Code   266 non-null    object
 4   1990 [YR1990]  266 non-null    object
 5   2000 [YR2000]  266 non-null    object
 6   2012 [YR2012]  266 non-null    object
 7   2013 [YR2013]  266 non-null    object
 8   2014 [YR2014]  266 non-null    object
 9   2015 [YR2015]  266 non-null    object
 10  2016 [YR2016]  266 non-null    object
 11  2017 [YR2017]  266 non-null    object
 12  2018 [YR2018]  266 non-null    object
 13  2019 [YR2019]  266 non-null    object
 14  2020 [YR2020]  266 non-null    object
 15  2021 [YR2021]  266 non-null    object
dtypes: object(16)
memory usage: 34.0+ KB

,Series Name,Series Code,Country Name,Country Code,1990 [YR1990],2000 [YR2000],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021]
0,Access to electricity (% of population),EG.ELC.ACCS.ZS,Afghanistan,AFG,..,1.61359095573425,69.0999984741211,68.2906494140625,89.5,71.5,97.6999969482422,97.6999969482422,96.6161346435547,97.6999969482422,97.6999969482422,..
1,Access to electricity (% of population),EG.ELC.ACCS.ZS,Albania,ALB,100,100,99.9000015258789,100,99.9499969482422,99.9800033569336,99.8899993896484,99.8899993896484,100,100,100,..
2,Access to electricity (% of population),EG.ELC.ACCS.ZS,Algeria,DZA,..,98.9730987548828,98.7646636962891,99.0022048950195,99.0870132446289,99.1866607666016,99.3502502441406,99.6354904174805,99.6978378295898,99.5,99.8041305541992,..
3,Access to electricity (% of population),EG.ELC.ACCS.ZS,American Samoa,ASM,..,..,..,..,..,..,..,..,..,..,..,..
4,Access to electricity (% of population),EG.ELC.ACCS.ZS,Andorra,AND,100,100,100,100,100,100,100,100,100,100,100,..
5,Access to electricity (% of population),EG.ELC.ACCS.ZS,Angola,AGO,..,24.2127437591553,37.1313209533691,38.2780303955078,32,42,41.8131294250488,43.0132598876953,45.2900009155273,45.6427993774414,46.8906097412109,..
6,Access to electricity (% of population),EG.ELC.ACCS.ZS,Antigua and Barbuda,ATG,95.7630462646484,97.6892623901367,100,100,100,100,100,100,100,100,100,..
7,Access to electricity (% of population),EG.ELC.ACCS.ZS,Argentina,ARG,92.1548004150391,95.7832870483398,99.22998046875,99.3426742553711,100,99.6253890991211,99.8495788574219,100,99.9895782470703,100,100,..
8,Access to electricity (% of population),EG.ELC.ACCS.ZS,Armenia,ARM,..,98.9000015258789,99.6289672851563,99.4199981689453,99.7099990844727,100,99.8000030517578,99.6999969482422,99.9000015258789,100,100,..
9,Access to electricity (% of population),EG.ELC.ACCS.ZS,Aruba,ABW,100,91.660400390625,100,100,100,100,100,100,100,100,100,..
10,Access to electricity (% of population),EG.ELC.ACCS.ZS,Australia,AUS,100,100,100,100,100,100,100,100,100,100,100,..
11,Access to electricity (% of population),EG.ELC.ACCS.ZS,Austria,AUT,100,100,100,100,100,100,100,100,100,100,100,..
12,Access to electricity (% of population),EG.ELC.ACCS.ZS,Azerbaijan,AZE,..,98.9082260131836,100,100,100,100,100,100,100,100,100,..
13,Access to electricity (% of population),EG.ELC.ACCS.ZS,"Bahamas, The",BHS,100,100,100,100,100,100,100,100,100,100,100,..
14,Access to electricity (% of population),EG.ELC.ACCS.ZS,Bahrain,BHR,99.9413986206055,100,100,100,100,100,100,100,100,100,100,..
15,Access to electricity (% of population),EG.ELC.ACCS.ZS,Bangladesh,BGD,..,32,66.1555709838867,61.5,62.4000015258789,74.9037399291992,75.9199981689453,88,91.8000030517578,92.1999969482422,96.1999969482422,..
16,Access to electricity (% of population),EG.ELC.ACCS.ZS,Barbados,BRB,99.9842529296875,100,100,100,100,100,100,100,100,100,100,..
17,Access to electricity (% of population),EG.ELC.ACCS.ZS,Belarus,BLR,100,100,100,100,100,100,100,100,100,100,100,..
18,Access to electricity (% of population),EG.ELC.ACCS.ZS,Belgium,BEL,100,100,100,100,100,100,100,100,100,100,100,..
19,Access to electricity (% of population),EG.ELC.ACCS.ZS,Belize,BLZ,..,79,90.9959182739258,91.1861038208008,91.3642578125,91.8000030517578,93.2223129272461,94.1890106201172,91.7200012207031,92.7200012207031,97.1133346557617,..

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (3.5.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (0.11.0)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (2.8.2)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (3.0.9)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (21.3)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (4.37.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (7.1.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.4.4)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.21.6)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib) (4.1.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7->matplotlib) (1.15.0)

In [ ]:

df.drop(['Series Name','Series Code','Country Code','2021 [YR2021]'], axis = 1, inplace = True)
df.rename(columns={'1990 [YR1990]': "1990"}, inplace=True)
df.rename(columns={'2000 [YR2000]': "2000"}, inplace=True)
df.rename(columns={'2012 [YR2012]': "2012"}, inplace=True)
df.rename(columns={'2013 [YR2013]': "2013"}, inplace=True)
df.rename(columns={'2014 [YR2014]': "2014"}, inplace=True)
df.rename(columns={'2015 [YR2015]': "2015"}, inplace=True)
df.rename(columns={'2016 [YR2016]': "2016"}, inplace=True)
df.rename(columns={'2017 [YR2017]': "2017"}, inplace=True)
df.rename(columns={'2018 [YR2018]': "2018"}, inplace=True)
df.rename(columns={'2019 [YR2019]': "2019"}, inplace=True)
df.rename(columns={'2020 [YR2020]': "2020"}, inplace=True)
df.head()

,Country Name,1990,2000,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Afghanistan,..,1.61359095573425,69.0999984741211,68.2906494140625,89.5,71.5,97.6999969482422,97.6999969482422,96.6161346435547,97.6999969482422,97.6999969482422
1,Albania,100,100,99.9000015258789,100,99.9499969482422,99.9800033569336,99.8899993896484,99.8899993896484,100,100,100
2,Algeria,..,98.9730987548828,98.7646636962891,99.0022048950195,99.0870132446289,99.1866607666016,99.3502502441406,99.6354904174805,99.6978378295898,99.5,99.8041305541992
3,American Samoa,..,..,..,..,..,..,..,..,..,..,..
4,Andorra,100,100,100,100,100,100,100,100,100,100,100

In [ ]:
world = df.groupby("Country Name")["1990","2000","2012","2013","2014","2015","2016","2017","2018","2019","2020"].sum().reset_index()
world.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

,Country Name,1990,2000,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Afghanistan,..,1.61359095573425,69.0999984741211,68.2906494140625,89.5,71.5,97.6999969482422,97.6999969482422,96.6161346435547,97.6999969482422,97.6999969482422
1,Africa Eastern and Southern,..,19.8112830487474,31.8443844038242,31.794159992766,32.001026781227,33.8719104646129,38.8801732244203,40.261357595893,43.061876950924,44.2708604789338,45.8034852293868
2,Africa Western and Central,..,34.1506868375937,44.1679733535959,47.0483161636866,47.5993227916858,46.7662943639277,50.9534866843105,48.8611912179155,51.2597116422012,51.2901929896648,52.1116010037919
3,Albania,100,100,99.9000015258789,100,99.9499969482422,99.9800033569336,99.8899993896484,99.8899993896484,100,100,100
4,Algeria,..,98.9730987548828,98.7646636962891,99.0022048950195,99.0870132446289,99.1866607666016,99.3502502441406,99.6354904174805,99.6978378295898,99.5,99.8041305541992

In [ ]:
### Find top 20 countries with maximum number of confirmed cases
from matplotlib import container
top_5 = world.sort_values(by='2012', ascending=False).head(5)
top_5.head()

,Country Name,1990,2000,2012,2013,2014,2015,2016,2017,2018,2019,2020
256,Uzbekistan,..,99.5932693481445,99.9898223876953,99.9988708496094,100,100,100,100,100,100,100
75,Europe & Central Asia,100,99.9493964240866,99.9810754122,99.9772262352054,99.9828399900704,99.2553035277639,99.9696221715838,99.9914164447254,99.9918353726555,99.9932515305436,99.9953213445151
197,Post-demographic dividend,99.9943965592541,99.9671193131082,99.9731236469662,99.9794748969496,99.9836824132257,99.9854702629021,99.9892481895009,99.9921580985287,99.9951094289347,99.997963727551,99.9981381306841
101,High income,99.8179657621232,99.8993578015723,99.9654235625918,99.9570915198481,99.970694209553,99.9690946886165,99.9584750967798,99.9713310295308,99.9818667011525,99.9850468228112,99.9882984510084
76,Europe & Central Asia (IDA & IBRD countries),100,99.8994525951149,99.9619796245363,99.9542813281277,99.9655729275915,98.5070793146613,99.9391438151003,99.9828194171674,99.9836360467292,99.9865143284425,99.9906369397569

In [ ]:
plt.figure(figsize=(12,10))
plot = sns.barplot(x=top_5['2012'], y=top_5['Country Name'])
plot.bar_label(plot.containers[0])

plt.show()

TypeError: ignored